<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id="root"></main>

<script type="text/javascript">
  window.whitelogo = "<%= image_url('white_logo.png') %>"
  window.magnifyglass = "<%= image_url('magnifying-glass.png') %>"
  window.home = "<%= image_url('home.png') %>"
  window.library = "<%= image_url('library.png') %>"
  window.more = "<%= image_url('more.png') %>"
  window.tick = "<%= image_url('tick.png') %>"
  window.play = "<%= image_url('play-button.png') %>"
  window.playlist_default = "<%= image_url('playlist_default.png') %>"
</script>
