<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id="root"></main>

<script type="text/javascript">
  window.whitelogo = "<%= image_url('white_logo.png') %>"
  window.magnifyglass = "<%= image_url('magnifying-glass.png') %>"
  window.home = "<%= image_url('home.png') %>"
  window.library = "<%= image_url('library.png') %>"
  window.more = "<%= image_url('more.png') %>"
  window.tick = "<%= image_url('tick.png') %>"
  window.playlist_default = "<%= image_url('playlist_default.png') %>"
  window.pause = "<%= image_url('pause-button.svg') %>"
  window.forward = "<%= image_url('play-next-button.svg') %>"
  window.previous = "<%= image_url('previous-track.svg') %>"
  window.mainplay = "<%= image_url('play-arrow.svg') %>"
  window.user = "<%= image_url('man.svg') %>"
  window.playlist = "<%= image_url('playlist.png') %>"
</script>
